.blog-wrap{
    width: 100%;
    margin-bottom: 100px; 
    .banner{
        width: 100%;
        height: 65vh;
        overflow: hidden;
        position: relative;
        text-align: center;
        .img {
            width: 100%;
            height: 65vh;
            background: url("~/assets/img/banner/writing.jpg") center no-repeat;
            background-size: cover; 
            transition: all 0.5s ease;
        }
        h3{
            display: inline-block;
            padding: 20px;
            font-size:  36px;
            font-weight: 500;
            text-align: center;
            color: linear-gradient(270deg,#c4987a 33%,#ffd5bf 73%);
            position: absolute;
            top: 30vh;
            transition: all 0.5s ease;
            background-image:  linear-gradient(270deg,#c4987a 33%,#ffd5bf 73%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: translateX(-50%)
        }
        &::after{
            content: '';
            width: 150%;
            position: absolute;
            border-radius: 100%;
            left: -25%;
            background: #fff;
            height: 100px;
            bottom: -20px;
        }
    }
    .detail-main{
        width: 800px;
        margin: 0 auto 50px;
        .blog-des{
            color: #666;
            font-weight: 500;
            line-height: 40px;
            border-bottom: 1px dashed #ddd;
            letter-spacing: 0.6px;
            padding-bottom: 10px; 
            >h3{
                .first-des {
                    font-size: 36px;
                    display: table-cell;
                    padding: 0 10px;
                    font-weight: 600;
                    color: #404040;
                    vertical-align: middle;
                }
                .des{
                    font-size: 16px;
                    display: table-cell;
                }
            }
        }
        .main-content{
            padding: 50px 25px;
            height: auto;
        }
        .main-footer{
            border-top: 1px dashed #ddd;
            border-bottom:  1px dashed #ddd;
            padding: 20px;
            margin: 50px 0;
            display: flex;
            justify-content: space-between;
            .left{
                width: 60px;
                height: 60px;
                border-radius: 100%;
                img{
                    height: 100%;
                    width: 100%;
                    border-radius: 100%;
                }
            }
            .tips{
                position: relative;
                width: 300px;
                p{
                    width: 100%;
                    line-height: 60px;
                    display: inline-block;
                    font-size:  16px;
                    font-weight: 500;
                    text-align: center;
                    color: linear-gradient(270deg,#c4987a 33%,#ffd5bf 73%);
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transition: all 0.5s ease;
                    background-image:  linear-gradient(270deg,#c4987a 33%,#ffd5bf 73%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transform: translateX(-50%);
                }
            }
            .right {
                text-align: center;
                width: 180px;
                font-size: 14px;
                font-weight: 300;
                .date{
                    line-height: 40px;
                    span{
                        >i{
                            font-size: 20px;
                        }
                    }
                }
                .no-dis {
                    >i{
                        display: inline-block;
                        cursor: pointer;
                        font-size: 24px;
                        transition: all 0.5s ease;
                        &:hover{
                            transform:  scale(1.3)
                        }
                    }
                }
                .dis {
                    text-align: center;
                    >i{
                        display: inline-block;
                        cursor: pointer;
                        font-size: 24px;
                        transition: all 0.5s ease;
                        color: red;
                        cursor: not-allowed;
                        &:hover{
                            transform:  scale(1.3)
                        }
                    }
                    
                }
            }
        }
        .blog-comment-wrap{
            width: 800px;
            margin: 0 auto;
            .content-basic{
                .fireWorkForm{
                    width: 100%;
                    position: relative;
                    .comment-content {
                        width: 100%;
                        box-sizing: border-box;
                        height: 180px;
                        padding: 20px 100px 20px 20px;
                        background: url('~/assets/img/comment/content-bj.png') bottom right no-repeat;
                        background-size: 80% 80%; 
                        border: 1px solid #ddd;
                        font-size: 16px;
                        line-height: 25px;
                        border-radius: 5px;
                        color: #666;
                        &:focus{
                            outline: none;
                            border-color: orange; 
                        }
                    }
                }
                .btn-wrap{
                    text-align: right;
                    margin: 20px;
                }
            }
            .comment-list{
                width: 100%;
                margin: 50px 0;
                .list-header{
                    margin-bottom: 25px; 
                    span{
                        display: inline-block;
                        font-size: 16px;
                        color: #7d7d7d;
                        // border-right: 1px solid #7d7d7d;
                        line-height: 28px;  
                    }
                }
                .comment-item{
                    padding: 0 15px;
                    display: flex;
                    flex-direction: row;
                    border-bottom: 1px solid #ddd;
                    padding-bottom: 30px; 
                    margin-bottom: 40px; 
                    &:last-child{
                        border: 0;
                    }
                    .left{
                        width: 60px;
                        height: 60px;
                        border-radius: 100%; 
                        border: 1px solid #ddd;
                        img{
                            width: 50px;
                            height: 50px;
                            margin: 5px;
                            border-radius: 100%; 
                            transition: all 1.5s ease;
                            &:hover{
                                transition: all 1.5s ease;
                                transform: rotate(360deg);
                            }
                        }
                    }
                    .right {
                        flex: 1;
                        margin-left: 20px;
                        .name{
                            color: #666;
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 24px;
                            margin-bottom: 10px; 
                            span{
                                font-weight: 600;
                                color: #FE9600; 
                            }
                        }
                        .date{
                            font-size: 13px;
                            line-height: 20px;
                            margin-bottom: 6px;
                            color: #666; 
                        }
                        .content{
                            line-height: 20px;
                            font-size: 14px;
                            letter-spacing: 1.5px;
                            color: #666;
                            margin-bottom: 15px;
                        }
                        .replay-wrap{
                            text-align: right;
                            span{
                                display: inline-block;
                                border-right: 1px solid orange;
                                padding: 3px 14px;
                                cursor: pointer;
                                font-size: 15px;
                                color: #7d7d7d;
                                transition: all 0.5s ease;
                                &:hover{
                                    color: #FE9600;
                                }
                            }
                            .praise{
                                border: 0;
                                &:hover{
                                    transition: all 1s ease;
                                    transform: scale(1.2);
                                }
                            }
                        }
                        .replay-list{
                            padding: 20px 0;
                            .replay-item{
                                display: flex;
                                flex-direction: row;
                            }
                        }
                        .replay-dialog-wrap {
                            padding: 30px 0;
                            .cancel-repaly{
                                margin-bottom: 15px; 
                            }
                            @extend .content-basic;
                        }
                    }
                } 
            }
            .pagenation-wrap{
                margin: 60px 0;
                text-align: right;
            }
        }
    }
}