@import './common/mixins.scss';
.mainHeader{
    .scroll-progress{
        width: 0%;
        height: 2px;
        background: orange;
        border-radius: 1px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999999999;
        transition: all .2s ease;
    }
    .headerHover{
        background:rgb(255, 255, 255);
        box-shadow: 0 1px 40px -8px rgba(0,0,0,.5);
    }
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transition: all .4s ease;
        background: transparent;
        z-index: 999;
        &:hover{
            background:#fff;
            box-shadow: 0 1px 40px 4px rgba(0,0,0,.5);
        }
        &:hover .right{
            display: block!important;
        }
        .left{
            padding-left: 60px; 
            // width: 320px;
            overflow: hidden;
            h3{
                text-transform: uppercase;
                font-weight: 900;
                overflow: hidden;
                color: #b2b0a9;
                font-size: 30px;
                text-decoration: none;
                text-align: center;
                position: relative;
                outline: none;
                font-family: FZShuTi;
                &:hover{
                    border-radius:4px;
                    color: orange; 
                    span{
                        background: orange;
                        border-radius:4px;
                        color: #fff; 
                    }
                }
                span{
                    font-family: FZShuTi;
                    display: inline-block;
                    height: 32px;
                    margin: 10px 0;
                    line-height: 30px;
                    padding: 0 5px;
                    font-size: 24px;
                }
            }
        }
        .right{
            display: none;
            ul{
                width: 100%;
                margin-right: 20px; 
                li{
                    float: left;
                    position: relative;
                    color: #666;
                    font-weight: 400; 
                    margin-right: 10px;
                    &:last-child{
                        margin: 0;
                    }
                    a{
                        display: block;
                        padding: 20px 10px;
                        line-height: 20px;
                        height: 60px;
                        &:hover{
                            color: orange;
                        }
                    }
                    .icon{
                        display: inline-block;
                        margin-right: 5px; 
                        .iconfont{
                            font-size: 18px;
                        }
                    }
                    &::after{
                        content: '';
                        width: 0%;
                        height: 3px;
                        background: orange;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                    &:hover{
                        color: orange;
                    }
                    &:hover::after{
                        transition: all .4s ease;
                        width: 100%;
                    }
                }
            }
        }
        .search-header{
            margin-right: 50px;
            span{
                display: inline-block;
                width: 40px;
                height: 100%;
                line-height: 60px;
                margin: 0 5px; 
                cursor: pointer;
                i{
                    font-size: 30px;
                    color: #666;
                    &:hover{
                        color: rgb(254, 150, 0);
                    }
                }
            }
            .search{
                i{
                    font-size: 28px; 
                }
            }
        }
    }
    .goTop{
        width: 70px;
        height: 900px;
        position: fixed;
        right: 10px;
        bottom: 100vh;
        transition: all .4s ease;
        z-index: 99;
        img{
            width: 100%;
            height: 100%;
        }
        animation: toTopUP 2s linear infinite;
        transition: all .4s ease;
        @keyframes toTopUP {
            0%{
                transform: translateY(0)
            }
            25%{
                transform: translateY(-6px)
            }
            50%{
                transform: translateY(-12px)
            }
            75%{
                transform: translateY(-6px)
            }
            100%{
                transform: translateY(0)
            }
        }
    }
}