.homePage{
    width: 100%;
    transition: all .4s ease;
    position: relative;
    .homePage-header{
        .homePage-bg{
            position: relative;
            height: 100vh;
            background: url('~/assets/img/banner/travel-banner.jpg') center fixed;
            background-size: cover;
            &::after{
                content: '';
                background: url('~/assets/img/banner/bannerBj.gif') repeat;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }  
        }
    }
    .homePage-content{
        // width: 100%;
        // height: auto;
        // // position: absolute;
        // // z-index: 9;
        // .homePage-content-header{
            // width: 100%;
            // height: 100vh;
            // background: url('~/assets/img/banner/bannerBj.gif') repeat;
            // transition: all .4s ease;
        // }
    }
}